/* General Styles */
h1 {
  color: #3f72af;
  font-family: "Roboto Slab", serif;
  font-size: 5.62rem;
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 2.625rem;
  font-weight: normal;
}

hr {
  border-style: dotted none none;
  width: 10%;
  border-color: #eaf6f6;
  border-width: 10px;
}

body {
  color: #3f72af;
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: center;
}

/* Specific Styles */
.bottom-container {
  height: auto;
  background-color: #3f72af;
  padding: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 250px;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3f72af;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn:hover {
  background-color: #416b9e;
}

.btn:active {
  background-color: #3f72af;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.contact-me {
  margin-top: 100px;
}

.footer-name {
  color: #eaf6f6;
}

.middle-container {
  padding: 50px;
}

.profile {
  margin-bottom: 50px;
}

.profile-image {
  height: 200px;
  width: 200px;
  margin-top: 35px;
  border-radius: 50%;
}

.skill-row-one {
  width: 55%;
  margin: 100px auto 100px auto;
}

.skill-row-two {
  width: 55%;
  margin: 100px auto 100px auto;
}

.skill-one {
  width: 220px;
  height: 150px;
  border-radius: 5%;
  float: left;
  margin-right: 30px;
}

.skill-two {
  width: 200px;
  height: 150px;
  border-radius: 5%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #dbe2ef;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 450px;
  bottom: 360px;
}

@media only screen and (max-width: 1200px) {
  .bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 250px;
  }
  .top-cloud {
    position: absolute;
    right: 300px;
    bottom: 360px;
  }
}

@media only screen and (max-width: 1000px) {
  .bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 250px;
  }
  .top-cloud {
    position: absolute;
    right: 250px;
    bottom: 360px;
  }
}

@media only screen and (max-width: 800px) {
  .bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 250px;
  }
  .top-cloud {
    position: absolute;
    right: 200px;
    bottom: 360px;
  }
}

@media only screen and (max-width: 625px) {
  .bottom-cloud {
    position: absolute;
    left: 75px;
    bottom: 150px;
  }
  .top-cloud {
    position: absolute;
    right: 100px;
    bottom: 260px;
  }
  .mountain {
    width: 98%;
  }
}
